
footer
	background principal
	border-top 1px solid rgba(iconos,1)
	height 40px
	position fixed
	width 100%
	bottom 0px
	left 0px
	right 0px
	.bottom
		position relative
		p
			font-size .75em
			letter-spacing .13em
			line-height 3.2em
			text-align center
			text-transform uppercase
			&:after
				bottom 2px
				content '\e607'
				font-family icono
				font-size 2.7em
				right 10px
				position absolute
			&:before
				bottom 0px
				content '\e60b'
				font-family icono
				font-size 2em
				left 10px
				position absolute

header
	background rgba(black,.1)
	display block
	height 120px
	margin 45px 0 0 0
	width 100%

nav
	background principal
	border-bottom 1px solid rgba(iconos,.1)
	height 45px
	left 0px
	position fixed
	right 0px
	top 0px
	width 100%
	.navIzquierda
		display inline-block 
		float left
		position relative
		width 50%
		.ajustos
			p
				left 40px
				position absolute
				top 12px
				&:before
					content '\e60a'
					font-family icono
					font-size 2em
					left -35px
					position absolute
					top -4px
	.navDerecha
		position relative
		.calendari
			p
				position absolute
				right 42px
				top 12px
				&:after
					content '\e60e'
					font-family icono
					font-size 1.5em
					position absolute
					right -33px
					top -4px

.eventActual
	background rgba(secundario,.8)
	display block
	height auto
	padding .8em 0 .5em 0
	position relative
	width 100%
	.event
		color white
		font-weight 300
		margin -.15em margenMovil .8em 100px
	.hora
		color white
		display inline-block
		float left
		font-size .73em
		font-weight 300
		margin 0 10px
		width 75px
		.horaInici
			float left
			p
				&:after
					content ' -'
		.horaFi
			float left
			p
				&:after
					content 'h'
		
	.titol
		font-size .75em
		position absolute
		right 1em
		text-transform uppercase 
		top -2.2em
		&:after
				border-top solid 1em transparent
				border-left solid .45em transparent
				border-bottom solid .6em rgba(secundario,.8)
				border-right solid .45em transparent
				content ""
				right 3.3em
				position absolute
				top .65em
















