
footer
	background principal
	border-top 1px solid rgba(iconos,1)
	height 40px
	position fixed
	width 100%
	bottom 0px
	left 0px
	right 0px
	.bottom
		position relative
		p
			font-size .75em
			letter-spacing .13em
			line-height 3.2em
			text-align center
			text-transform uppercase
			&:after
				bottom 2px
				content '\e607'
				font-family icono
				font-size 2.7em
				right 10px
				position absolute
			&:before
				bottom 0px
				content '\e60b'
				font-family icono
				font-size 2em
				left 10px
				position absolute

header
	background rgba(black,.1)
	display block
	height 83px
	margin 45px 0 0 0
	width 100%
	.data
		position relative
		font-size 1.75em
		font-weight 300
		.dia
			left 25px
			position absolute
			top 9px
		.numero
			left 29px
			font-size 1.05em
			position absolute
			top 35px
		.mes
			left 72px
			position absolute
			top 36px

nav
	background principal
	border-bottom 1px solid rgba(iconos,.1)
	height 45px
	left 0px
	position fixed
	right 0px
	top 0px
	width 100%
	.navIzquierda
		display inline-block 
		float left
		position relative
		width 50%
		.ajustos
			p
				left 40px
				position absolute
				top 12px
				&:before
					content '\e60a'
					font-family icono
					font-size 2em
					left -35px
					position absolute
					top -4px
	.navDerecha
		position relative
		.calendari
			p
				position absolute
				right 42px
				top 12px
				&:after
					content '\e60e'
					font-family icono
					font-size 1.5em
					position absolute
					right -33px
					top -4px

section
	.event
		background rgba(black,.6)
		bottom 40px
		left 0px
		position relative
		overflow-y auto
		right 0px
		top 0px
		width 100%
		&:last-child
			margin 0 0 40px 0
			
		.detall
			border-bottom 2px solid rgba(white,.5)
			font-weight 300
			margin 1em .7em 1em 2em
			.hora
				color white
				float left
				width 55px
			.lloc
				color gris
				font-size .7em
				letter-spacing .13em
				line-height 2em
				text-transform uppercase
				p
					&:after
						content '\e608'
						font-family icono
						margin 0 0 0 .2em
		.contingut
			margin 1em .7em 1em 2em
			.titolEvent
				font-weight 400
				margin -.7em 1.6em .7em .7em
				position relative
				p
					&:after
						content '\e600'
						font-family icono
						position absolute 
						right -20px
						top 2px
			.detallEvent
				font-size .8em
				font-weight 300
				margin 1em -1em 1em 2em
				p
					&:after
						display none

.eventActual
	background secundario
	display block
	height auto
	padding 1em 0 .5em 0
	position relative
	width 100%
	.event
		color white
		font-weight 400
		margin -.15em margenMovil .8em 100px
		.lloc
			color gris
			font-size .7em
			font-weight 300
			letter-spacing .13em
			margin .5em 0 0 0
			text-transform uppercase
			p
				&:after
					content '\e608'
					font-family icono
					margin 0 0 0 .2em
	.hora
		color white
		display inline-block
		float left
		font-size .73em
		font-weight 300
		margin 0 10px
		width 75px
		.horaInici
			float left
			p
				&:after
					content ' -'
		.horaFi
			float left
			p
				&:after
					content 'h'
		
	.titol
		font-size .75em
		position absolute
		right 1em
		text-transform uppercase 
		top -2.65em
		&:after
				border-top solid 1em transparent
				border-left solid .45em transparent
				border-bottom solid .6em secundario
				border-right solid .45em transparent
				content ""
				right 3.3em
				position absolute
				top 1.05em
















