
/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 2 : /Users/jordiimac/Documents/QuaKe/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/reset\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/QuaKe/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/reset\.styl}line{font-family:\000032}}
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* line 14 : /Users/jordiimac/Documents/QuaKe/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/reset\.styl}line{font-family:\0000314}}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}

/* line 18 : /Users/jordiimac/Documents/QuaKe/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/reset\.styl}line{font-family:\0000318}}
pre{white-space:pre-wrap}

/* line 18 : /Users/jordiimac/Documents/QuaKe/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/estilos\.styl}line{font-family:\0000318}}
@font-face{font-family:'icono';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}

/* line 45 : /Users/jordiimac/Documents/QuaKe/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/estilos\.styl}line{font-family:\0000345}}
body{color:#353535;font-family:lato;font-size:16px;font-weight:400}

/* line 60 : /Users/jordiimac/Documents/QuaKe/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/estilos\.styl}line{font-family:\0000360}}
::selection{background:#ff0;color:#000}

/* line 72 : /Users/jordiimac/Documents/QuaKe/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/estilos\.styl}line{font-family:\0000372}}
@media screen and (max-width: 769px){
/* line 2 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\000032}}
footer{background:#e8eaed;border-top:1px solid #353535;height:40px;position:fixed;width:100%;bottom:0;left:0;right:0;z-index:2;}

/* line 12 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000312}}
footer .bottom{position:relative;}

/* line 14 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000314}}
footer .bottom p{font-size:.75em;letter-spacing:.13em;line-height:3.2em;text-align:center;text-transform:uppercase;}

/* line 20 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000320}}
footer .bottom p:after{bottom:2px;content:'\e607';font-family:icono;font-size:2.7em;right:10px;position:absolute}

/* line 27 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000327}}
footer .bottom p:before{bottom:0;content:'\e60b';font-family:icono;font-size:2em;left:10px;position:absolute}

/* line 35 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000335}}
header{background-image:url("../img/fondo.jpg");background-size:100% auto;background-position:0 -55px;display:block;height:120px;margin:45px 0 0 0;width:100%;}

/* line 43 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000343}}
header .data{color:#fff;font-size:1.75em;font-weight:300;position:relative;}

/* line 48 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000348}}
header .data .dia{left:25px;position:absolute;top:9px}

/* line 52 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000352}}
header .data .numero{left:29px;font-size:1.05em;position:absolute;top:35px}

/* line 57 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000357}}
header .data .mes{left:72px;position:absolute;top:36px}

/* line 62 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000362}}
nav{background:#e8eaed;border-bottom:1px solid rgba(53,53,53,0.1);height:45px;left:0;position:fixed;right:0;top:0;width:100%;z-index:2;}

/* line 72 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000372}}
nav .navIzquierda{display:inline-block;float:left;position:relative;width:50%;}

/* line 77 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000377}}

/* line 78 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000378}}
nav .navIzquierda .ajustos p{left:40px;position:absolute;top:12px;}

/* line 82 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000382}}
nav .navIzquierda .ajustos p:before{content:'\e60a';font-family:icono;font-size:2em;left:-35px;position:absolute;top:-4px}

/* line 89 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000389}}
nav .navDerecha{position:relative;}

/* line 91 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000391}}

/* line 92 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000392}}
nav .navDerecha .calendari p{position:absolute;right:42px;top:12px;}

/* line 96 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000396}}
nav .navDerecha .calendari p:after{content:'\e60e';font-family:icono;font-size:1.5em;position:absolute;right:-33px;top:-4px}

/* line 104 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003104}}
section{background-image:url("../img/fondo2.jpg");background-size:100% 100%;}

/* line 107 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003107}}
section .event{background:rgba(255,255,255,0.7);bottom:40px;left:0;position:relative;overflow-y:auto;right:0;top:0;width:100%;}

/* line 116 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003116}}
section .event:last-child{margin:0 0 40px 0}

/* line 118 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003118}}
section .event .detall{color:#fff;border-bottom:3px solid rgba(255,255,255,0.5);font-weight:300;margin:.85em .7em 1em 2.5em;}

/* line 123 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003123}}
section .event .detall .hora{float:left;font-size:.9em;margin:.1em 0 0 0;width:100px;}

/* line 128 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003128}}
section .event .detall .hora .horaInici{float:left;}

/* line 130 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003130}}

/* line 131 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003131}}
section .event .detall .hora .horaInici p:after{content:' -'}

/* line 133 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003133}}

/* line 134 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003134}}

/* line 135 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003135}}
section .event .detall .hora .horaFi p:after{content:'h'}

/* line 137 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003137}}
section .event .detall .lloc{font-size:.7em;letter-spacing:.13em;line-height:2em;text-transform:uppercase;}

/* line 142 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003142}}

/* line 143 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003143}}
section .event .detall .lloc p:after{content:'\e608';font-family:icono;margin:0 0 0 .2em}

/* line 147 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003147}}
section .event .contingut{margin:1em .7em 0 2em;}

/* line 149 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003149}}
section .event .contingut .titolEvent{font-weight:400;margin:-.7em 1.8em .7em .7em;position:relative;}

/* line 153 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003153}}

/* line 154 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003154}}
section .event .contingut .titolEvent p:after{content:'\e600';font-family:icono;font-size:1.3em;position:absolute;right:-20px;top:0}

/* line 164 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003164}}
section .event .contingut .detallEvent{font-size:.8em;font-weight:300;margin:1em -1em 0 2em;}

/* line 168 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003168}}

/* line 169 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003169}}
section .event .contingut .detallEvent p:after{display:none}

/* line 172 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003172}}
.eventActual{background:#5a6171;display:block;height:auto;font-weight:300;padding:1em 0 .5em 0;position:relative;width:100%;}

/* line 180 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003180}}
.eventActual .event{color:#fff;margin:-.15em 13px .8em 100px;}

/* line 183 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003183}}
.eventActual .event .lloc{color:#a6a6a6;font-size:.7em;letter-spacing:.13em;margin:.5em 0 0 0;text-transform:uppercase;}

/* line 189 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003189}}

/* line 190 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003190}}
.eventActual .event .lloc p:after{content:'\e608';font-family:icono;margin:0 0 0 .2em}

/* line 194 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003194}}
.eventActual .hora{color:#fff;display:inline-block;float:left;font-size:.73em;font-weight:300;margin:0 10px;width:75px;}

/* line 202 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003202}}
.eventActual .hora .horaInici{float:left;}

/* line 204 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003204}}

/* line 205 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003205}}
.eventActual .hora .horaInici p:after{content:' -'}

/* line 207 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003207}}
.eventActual .hora .horaFi{float:left;}

/* line 209 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003209}}

/* line 210 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003210}}
.eventActual .hora .horaFi p:after{content:'h'}

/* line 212 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003212}}
.eventActual .titol{color:#fff;font-size:.75em;font-weight:300;position:absolute;right:1em;text-transform:uppercase;top:-2.65em;}

/* line 220 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003220}}
.eventActual .titol:after{border-top:solid 1em transparent;border-left:solid .45em transparent;border-bottom:solid .6em #5a6171;border-right:solid .45em transparent;content:"";right:3.3em;position:absolute;top:1.05em}

/* line 230 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003230}}
.fixed{left:0;position:fixed;right:0;top:45px}
}