
/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 2 : /Users/jordiimac/Documents/QuaKe/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/reset\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/QuaKe/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/reset\.styl}line{font-family:\000032}}
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* line 14 : /Users/jordiimac/Documents/QuaKe/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/reset\.styl}line{font-family:\0000314}}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}

/* line 18 : /Users/jordiimac/Documents/QuaKe/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/reset\.styl}line{font-family:\0000318}}
pre{white-space:pre-wrap}

/* line 18 : /Users/jordiimac/Documents/QuaKe/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/estilos\.styl}line{font-family:\0000318}}
@font-face{font-family:'icono';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}

/* line 45 : /Users/jordiimac/Documents/QuaKe/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/estilos\.styl}line{font-family:\0000345}}
body{color:#353535;font-family:lato;font-size:16px;font-weight:400}

/* line 60 : /Users/jordiimac/Documents/QuaKe/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/estilos\.styl}line{font-family:\0000360}}
::selection{background:#ff0;color:#000}

/* line 72 : /Users/jordiimac/Documents/QuaKe/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/estilos\.styl}line{font-family:\0000372}}
@media screen and (max-width: 769px){
/* line 2 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\000032}}
footer{background:rgba(232,234,237,0.65);border-top:1px solid #353535;height:40px;position:fixed;width:100%;bottom:0;left:0;right:0;}

/* line 11 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000311}}
footer .bottom{position:relative;}

/* line 13 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000313}}
footer .bottom p{font-size:.75em;letter-spacing:.13em;line-height:3.2em;text-align:center;text-transform:uppercase;}

/* line 19 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000319}}
footer .bottom p:after{bottom:2px;content:'\e607';font-family:icono;font-size:2.7em;right:10px;position:absolute}

/* line 26 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000326}}
footer .bottom p:before{bottom:0;content:'\e60b';font-family:icono;font-size:2em;left:10px;position:absolute}

/* line 34 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000334}}
header{background:rgba(0,0,0,0.1);display:block;height:83px;margin:45px 0 0 0;width:100%;}

/* line 40 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000340}}
header .data{position:relative;font-size:1.75em;font-weight:300;}

/* line 44 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000344}}
header .data .dia{left:25px;position:absolute;top:9px}

/* line 48 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000348}}
header .data .numero{left:29px;font-size:1.05em;position:absolute;top:35px}

/* line 53 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000353}}
header .data .mes{left:72px;position:absolute;top:36px}

/* line 58 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000358}}
nav{background:rgba(232,234,237,0.65);border-bottom:1px solid rgba(53,53,53,0.1);height:45px;left:0;position:fixed;right:0;top:0;width:100%;}

/* line 67 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000367}}
nav .navIzquierda{display:inline-block;float:left;position:relative;width:50%;}

/* line 72 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000372}}

/* line 73 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000373}}
nav .navIzquierda .ajustos p{left:40px;position:absolute;top:12px;}

/* line 77 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000377}}
nav .navIzquierda .ajustos p:before{content:'\e60a';font-family:icono;font-size:2em;left:-35px;position:absolute;top:-4px}

/* line 84 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000384}}
nav .navDerecha{position:relative;}

/* line 86 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000386}}

/* line 87 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000387}}
nav .navDerecha .calendari p{position:absolute;right:42px;top:12px;}

/* line 91 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000391}}
nav .navDerecha .calendari p:after{content:'\e60e';font-family:icono;font-size:1.5em;position:absolute;right:-33px;top:-4px}

/* line 99 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\0000399}}
.eventActual{background:#5a6171;display:block;height:auto;padding:1em 0 .5em 0;position:relative;width:100%;}

/* line 106 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003106}}
.eventActual .event{color:#fff;font-weight:400;margin:-.15em 13px .8em 100px;}

/* line 110 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003110}}
.eventActual .event .lloc{color:#a6a6a6;font-size:.7em;font-weight:300;letter-spacing:.13em;margin:.5em 0 0 0;text-transform:uppercase;}

/* line 117 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003117}}

/* line 118 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003118}}
.eventActual .event .lloc p:after{content:'\e608';font-family:icono;margin:0 0 0 .2em}

/* line 122 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003122}}
.eventActual .hora{color:#fff;display:inline-block;float:left;font-size:.73em;font-weight:300;margin:0 10px;width:75px;}

/* line 130 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003130}}
.eventActual .hora .horaInici{float:left;}

/* line 132 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003132}}

/* line 133 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003133}}
.eventActual .hora .horaInici p:after{content:' -'}

/* line 135 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003135}}
.eventActual .hora .horaFi{float:left;}

/* line 137 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003137}}

/* line 138 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003138}}
.eventActual .hora .horaFi p:after{content:'h'}

/* line 141 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003141}}
.eventActual .titol{font-size:.75em;position:absolute;right:1em;text-transform:uppercase;top:-2.65em;}

/* line 147 : /Users/jordiimac/Documents/QuaKe/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/QuaKe\/css\/bp1\.styl}line{font-family:\00003147}}
.eventActual .titol:after{border-top:solid 1em transparent;border-left:solid .45em transparent;border-bottom:solid .6em #5a6171;border-right:solid .45em transparent;content:"";right:3.3em;position:absolute;top:1.05em}
}